<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactTemplate</title>
    <%= csrf_meta_tags %>
    <meta name="api-key" content=<%= Rails.application.secrets.api_key %>>
    <meta name="trailer-key" content=<%= Rails.application.secrets.trailer_key %>>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://res.cloudinary.com/ddgt25kwb/image/upload/v1589759948/Favicon-01_hkkn2g.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
